@charset "utf-8";

main {
    width: 850px; margin: 0 auto;
    form {
        padding: 30px 20px;
        legend {
            text-align: center; padding-bottom: 20px; margin-bottom: 5% !important; font-size: 2rem !important; font-weight: bold; border-bottom: 2px solid var(--s_color_bk);
        }
        p {margin-top: 17px; 
            label {width: 125px;}
            input[type=text] {width: 70%; padding: 10px 13px; border: 1px solid var(--s_color_g2); border-radius: 5px; text-indent: 5px;}
            #p_code {width: 80%; margin-right: 10px; margin-bottom: 10px;}
            #s_airline {width: 30%; padding: 5px 8px; border-radius: 5px;}
        }
        .arrive {margin-top: 17px; 
            p {
                #s_dep_time1, #s_dep_time2, #s_des_time1, #s_des_time2 {width: 35%; height: 50px;}
                #s_dep_time1_h, #s_dep_time2_h, #s_des_time1_h, #s_des_time2_h, #s_dep_time1_m, #s_dep_time2_m, #s_des_time1_m, #s_des_time2_m {width: 10%;height: 50px;}
                #s_dep_code, #s_des_code {margin-top: 10px; width: 10%; height: 50px;}
                #s_meeting {margin-top: 17px;}
                #s_price_child, #s_price_baby {margin-top: 17px;}
            }
        }
    }
}